<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="eu.darken.bb">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />

    <application
        android:name="eu.darken.bb.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Base.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".main.ui.MainActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".onboarding.OnboardingActivity" />
        <activity
            android:name="eu.darken.bb.main.ui.simple.SimpleActivity"
            android:theme="@style/AppTheme.Base" />
        <activity
            android:name="eu.darken.bb.main.ui.advanced.AdvancedActivity"
            android:theme="@style/AppTheme.Base" />
        <activity
            android:name=".task.ui.editor.TaskEditorActivity"
            android:theme="@style/AppTheme.Base" />
        <activity
            android:name=".storage.ui.editor.StorageEditorActivity"
            android:theme="@style/AppTheme.Base" />
        <activity
            android:name="eu.darken.bb.backup.ui.generator.editor.GeneratorEditorActivity"
            android:theme="@style/AppTheme.Base" />
        <activity
            android:name=".main.ui.settings.SettingsActivity"
            android:theme="@style/AppTheme.Base" />
        <activity
            android:name=".storage.ui.viewer.StorageViewerActivity"
            android:theme="@style/AppTheme.Base" />
        <activity
            android:name="eu.darken.bb.common.debug.recording.ui.RecorderActivity"
            android:theme="@style/AppTheme.Floating" />
        <activity
            android:name=".processor.ui.ProcessorActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Floating" />

        <activity
            android:name="eu.darken.bb.common.file.ui.picker.APathPickerActivity"
            android:theme="@style/AppTheme.Base" />

        <service android:name="eu.darken.bb.processor.core.service.ProcessorService" />

        <service android:name="eu.darken.bb.common.debug.recording.core.RecorderService" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <meta-data
            android:name="com.bugsnag.android.API_KEY"
            android:value="af79cd090c6cf741c40133c51d2e2e22" />
        <meta-data
            android:name="com.bugsnag.android.DETECT_ANRS"
            android:value="true" />
        <meta-data
            android:name="com.bugsnag.android.DETECT_NDK_CRASHES"
            android:value="false" />

        <receiver
            android:name=".common.root.core.javaroot.pkgops.InstallerReceiver"
            android:exported="false" />
    </application>

</manifest>